<a href="https://colab.research.google.com/github/1vanl0pez/DataScienceSantiagoIvan/blob/randomForestClasification/DSPRO1_HRAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Import libraries for data management and math operations
import pandas as pd
import numpy as np


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [9]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/general_data.xlsx'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read the dataframe
df = pd.read_excel(file_path)
# Display the headers and the first values to confirm a correct read
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Unnamed: 25,Unnamed: 26
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,...,1,0,0,3.0,4.0,2.0,3,3,NaN,NaN
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,...,5,1,4,3.0,2.0,4.0,2,4,NaN,111.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,...,5,0,3,2.0,2.0,1.0,3,3,NaN,NaN
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,...,8,7,5,4.0,4.0,3.0,2,3,NaN,NaN
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,...,6,0,4,4.0,1.0,3.0,3,3,NaN,NaN

In [ ]:
# Compute main statistics
df.describe()

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
count,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4391.000000,4410.000000,4410.000000,4401.000000,4410.000000,4410.000000,4410.000000,4410.000000,4385.000000,4390.000000,4372.000000,4410.000000,4410.000000
mean,36.923810,9.192517,2.912925,2.063946,65029.312925,2.694830,15.209524,0.793878,11.279936,2.799320,7.008163,2.187755,4.123129,2.723603,2.728246,2.761436,2.729932,3.153741
std,9.133301,8.105026,1.023933,1.106689,47068.888559,2.498887,3.659108,0.851883,7.782222,1.288978,6.125135,3.221699,3.567327,1.092756,1.101253,0.706245,0.711400,0.360742
min,18.000000,1.000000,1.000000,1.000000,10090.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,30.000000,2.000000,2.000000,1.000000,29110.000000,1.000000,12.000000,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000
50%,36.000000,7.000000,3.000000,2.000000,49190.000000,2.000000,14.000000,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,43.000000,14.000000,4.000000,3.000000,83800.000000,4.000000,18.000000,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000,4.000000,4.000000,3.000000,3.000000,3.000000
max,60.000000,29.000000,5.000000,5.000000,199990.000000,9.000000,25.000000,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [ ]:
# Display the data type for each variable
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4391 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4401 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  EnvironmentSatisfaction  4385 non-null   float64
 21  JobSatisfaction          4390 non-null   float64
 22  WorkLifeBalance          4372 non-null   float64
 23  JobInvolvement           4410 non-null   int64
 24  PerformanceRating        4410 non-null   int64
dtypes: float64(5), int64(13), object(7)
memory usage: 861.5+ KB

In [ ]:
# DATA CLEANING
# Step 1: Handle missing values
# Replace missing numeric values with the median of the respective column.
# Median is more resilient to outliers than the mean.

# Look if the null values are greater than 0, if so, add them into a list
columns_with_na = df.columns[df.isnull().sum() > 0].tolist()

# Replacement
for col in columns_with_na:
    # Calculate median of the column
    median_value = df[col].median()
    # if there is a blank space, fill it with the median
    df.fillna({col: median_value}, inplace=True)

In [17]:
# Step 2: Convert categorical variables to numerical format using one-hot encoding

# Verificar las columnas categÃ³ricas que podrÃ­an tener datos no numÃ©ricos
categorical_columns = df.select_dtypes(include=['object']).columns
print("Columnas categÃ³ricas:", categorical_columns)

# drop_first=True avoids logical errors (multicollinearity)
df = pd.get_dummies(df, drop_first=True)

print("Estructura del DataFrame despuÃ©s de la codificaciÃ³n:")
print(df.head())

df.isnull().sum().sum()  # Checking for any remaining missing values

Columnas categÃ³ricas: Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'JobSatisfaction'],
      dtype='object')
Estructura del DataFrame despuÃ©s de la codificaciÃ³n:
   Age  DistanceFromHome  Education  JobLevel  MonthlyIncome  \
0   51                 6          2         1         131160
1   31                10          1         1          41890
2   32                17          4         4         193280
3   38                 2          5         3          83210
4   32                10          1         1          23420

   NumCompaniesWorked  PercentSalaryHike  StockOptionLevel  TotalWorkingYears  \
0                 1.0                 11                 0                1.0
1                 0.0                 23                 1                6.0
2                 1.0                 15                 3                5.0
3                 3.0                 11                 3               13.0
4                 4.0                 12                 2                9.0

   TrainingTimesLastYear  ...  JobRole_Manager  \
0                      6  ...            False
1                      3  ...            False
2                      2  ...            False
3                      5  ...            False
4                      2  ...            False

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                           False                      False
1                           False                      False
2                           False                      False
3                           False                      False
4                           False                      False

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                       False                    False
1                        True                    False
2                       False                     True
3                       False                    False
4                       False                     True

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single  \
0                         False                   True                 False
1                         False                  False                  True
2                         False                   True                 False
3                         False                   True                 False
4                         False                  False                  True

   JobSatisfaction_Baja  JobSatisfaction_Media
0                 False                  False
1                  True                  False
2                  True                  False
3                 False                  False
4                  True                  False

[5 rows x 43 columns]

8910

In [15]:
print(f"Empleados que se fueron: {data_left.shape[0]}")
print(f"Empleados que se quedaron: {data_stayed.shape[0]}")

Empleados que se fueron: 0
Empleados que se quedaron: 0

In [22]:
# Verificar las columnas disponibles en el DataFrame
print("Columnas del DataFrame:", df.columns)

# Asegurarse de que las columnas estÃ©n disponibles antes de intentar eliminarlas
columns_to_drop = ["JobSatisfaction_Baja", "JobSatisfaction_Media", "Attrition"]

# Filtramos las columnas a eliminar solo si existen en el DataFrame
columns_to_drop = [col for col in columns_to_drop if col in df.columns]

# Eliminar las columnas de 'X' si existen
X = df.drop(columns=columns_to_drop)  # Eliminar las columnas solo si estÃ¡n presentes
y = df["JobSatisfaction"]  # 'JobSatisfaction' como variable objetivo

Columnas del DataFrame: Index(['Age', 'DistanceFromHome', 'Education', 'JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EnvironmentSatisfaction', 'WorkLifeBalance', 'JobInvolvement',
       'PerformanceRating', 'Unnamed: 25', 'Unnamed: 26', 'Attrition_Yes',
       'Attrition_Yes', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'JobSatisfaction_Baja', 'JobSatisfaction_Media',
       'JobSatisfaction'],
      dtype='object')

In [23]:
# Asegurarse de que 'JobSatisfaction' estÃ© correctamente categorizada en semÃ¡foro
def classify_satisfaction(value):
    if value <= 2:
        return 'Red'  # Baja satisfacciÃ³n
    elif 2 < value <= 3:
        return 'Yellow'  # SatisfacciÃ³n media
    else:
        return 'Green'  # Alta satisfacciÃ³n

# Aplicamos la funciÃ³n de clasificaciÃ³n a las columnas generadas por One-Hot Encoding
df['JobSatisfaction'] = df['JobSatisfaction_Media'].apply(classify_satisfaction)

# Mostrar las columnas actuales para identificar las que realmente existen
print(df.columns)

# Eliminar las columnas incorrectas de las caracterÃ­sticas
# AquÃ­ eliminamos las columnas 'JobSatisfaction_Baja', 'JobSatisfaction_Media' y 'Attrition' si estÃ¡n presentes
X = df.drop(columns=["JobSatisfaction_Baja", "JobSatisfaction_Media", "Attrition_Yes"], errors='ignore')  # 'errors' evitarÃ¡ el error si no estÃ¡n presentes
y = df["JobSatisfaction"]  # 'JobSatisfaction' como variable objetivo


# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

# Crear y entrenar el modelo de Random Forest
rf = RandomForestClassifier(n_estimators=100, random_state=24)
rf.fit(X_train, y_train)

# Predecir los resultados
y_pred = rf.predict(X_test)

# Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
print(f'PrecisiÃ³n del modelo: {accuracy:.4f}')

# FunciÃ³n para predecir la satisfacciÃ³n laboral basada en entradas del usuario
def predict_satisfaction():
    print("PredicciÃ³n de satisfacciÃ³n laboral")
    print("Introduce los siguientes datos para determinar la satisfacciÃ³n laboral:")

    # Lista de caracterÃ­sticas relevantes que hemos elegido
    top_5_features = ["Age", "DistanceFromHome", "Education", "JobLevel", "MonthlyIncome"]

    input_data = []
    for feature in top_5_features:
        value = float(input(f"{feature}: "))
        input_data.append(value)

    # Convertir a numpy array
    input_data = np.array(input_data).reshape(1, -1)

    # Realizamos la predicciÃ³n
    prediction = rf.predict(input_data)[0]

    # Mostrar la predicciÃ³n
    print(f"SatisfacciÃ³n predicha: {prediction}")
    print(f"Escala de semÃ¡foro: {prediction}")

# Llamar a la funciÃ³n de predicciÃ³n
predict_satisfaction()

Index(['Age', 'DistanceFromHome', 'Education', 'JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EnvironmentSatisfaction', 'WorkLifeBalance', 'JobInvolvement',
       'PerformanceRating', 'Unnamed: 25', 'Unnamed: 26', 'Attrition_Yes',
       'Attrition_Yes', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'JobSatisfaction_Baja', 'JobSatisfaction_Media',
       'JobSatisfaction'],
      dtype='object')

ValueError: could not convert string to float: 'Red'