<a href="https://colab.research.google.com/github/1vanl0pez/DataScienceSantiagoIvan/blob/randomForestClasification/DSPRO1_HRAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import libraries for data management and math operations
import pandas as pd
import numpy as np


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
from google.colab import drive
drive.mount('/content/drive')

file_path = '/content/drive/MyDrive/general_data.xlsx'

Mounted at /content/drive

In [4]:
# Read the dataframe
df = pd.read_excel(file_path)
# Display the headers and the first values to confirm a correct read
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Unnamed: 25,Unnamed: 26
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,...,1,0,0,3.0,4.0,2.0,3,3,NaN,NaN
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,...,5,1,4,3.0,2.0,4.0,2,4,NaN,111.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,...,5,0,3,2.0,2.0,1.0,3,3,NaN,NaN
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,...,8,7,5,4.0,4.0,3.0,2,3,NaN,NaN
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,...,6,0,4,4.0,1.0,3.0,3,3,NaN,NaN

In [5]:
# Compute main statistics
df.describe()

,Age,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Unnamed: 25,Unnamed: 26
count,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4391.000000,4410.000000,4410.000000,4401.000000,4410.000000,4410.000000,4410.000000,4410.000000,4385.000000,4390.000000,4372.000000,4410.000000,4410.000000,0.0,1.0
mean,36.923810,9.192517,2.912925,2.063946,65029.312925,2.694830,15.209524,0.793878,11.279936,2.799320,7.008163,2.187755,4.123129,2.723603,2.728246,2.761436,2.729932,3.153741,NaN,111.0
std,9.133301,8.105026,1.023933,1.106689,47068.888559,2.498887,3.659108,0.851883,7.782222,1.288978,6.125135,3.221699,3.567327,1.092756,1.101253,0.706245,0.711400,0.360742,NaN,NaN
min,18.000000,1.000000,1.000000,1.000000,10090.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000,NaN,111.0
25%,30.000000,2.000000,2.000000,1.000000,29110.000000,1.000000,12.000000,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,NaN,111.0
50%,36.000000,7.000000,3.000000,2.000000,49190.000000,2.000000,14.000000,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,NaN,111.0
75%,43.000000,14.000000,4.000000,3.000000,83800.000000,4.000000,18.000000,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000,4.000000,4.000000,3.000000,3.000000,3.000000,NaN,111.0
max,60.000000,29.000000,5.000000,5.000000,199990.000000,9.000000,25.000000,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000,4.000000,4.000000,4.000000,4.000000,4.000000,NaN,111.0

In [6]:
# Display the data type for each variable
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4391 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4401 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  EnvironmentSatisfaction  4385 non-null   float64
 21  JobSatisfaction          4390 non-null   float64
 22  WorkLifeBalance          4372 non-null   float64
 23  JobInvolvement           4410 non-null   int64
 24  PerformanceRating        4410 non-null   int64
 25  Unnamed: 25              0 non-null      float64
 26  Unnamed: 26              1 non-null      float64
dtypes: float64(7), int64(13), object(7)
memory usage: 930.4+ KB

In [28]:
print("DistribuciÃ³n de las clases en el conjunto de entrenamiento:")
print(y_train.value_counts())
print(df['JobSatisfaction'].describe())

DistribuciÃ³n de las clases en el conjunto de entrenamiento:
JobSatisfaction
Green    3528
Name: count, dtype: int64
count      4410
unique        1
top       Green
freq       4410
Name: JobSatisfaction, dtype: object
Class distribution in training data:
JobSatisfaction
Green    3528
Name: count, dtype: int64

In [7]:
# DATA CLEANING
# Step 1: Handle missing values
# Replace missing numeric values with the median of the respective column.
# Median is more resilient to outliers than the mean.

# Look if the null values are greater than 0, if so, add them into a list
columns_with_na = df.columns[df.isnull().sum() > 0].tolist()

# Replacement
for col in columns_with_na:
    # Calculate median of the column
    median_value = df[col].median()
    # if there is a blank space, fill it with the median
    df.fillna({col: median_value}, inplace=True)

In [8]:
# Step 2: Convert categorical variables to numerical format using one-hot encoding

# Verificar las columnas categÃ³ricas que podrÃ­an tener datos no numÃ©ricos
categorical_columns = df.select_dtypes(include=['object']).columns
print("Columnas categÃ³ricas:", categorical_columns)

# drop_first=True avoids logical errors (multicollinearity)
df = pd.get_dummies(df, drop_first=True)

print("Estructura del DataFrame despuÃ©s de la codificaciÃ³n:")
print(df.head())

df.isnull().sum().sum()  # Checking for any remaining missing values

Columnas categÃ³ricas: Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus'],
      dtype='object')
Estructura del DataFrame despuÃ©s de la codificaciÃ³n:
   Age  DistanceFromHome  Education  JobLevel  MonthlyIncome  \
0   51                 6          2         1         131160
1   31                10          1         1          41890
2   32                17          4         4         193280
3   38                 2          5         3          83210
4   32                10          1         1          23420

   NumCompaniesWorked  PercentSalaryHike  StockOptionLevel  TotalWorkingYears  \
0                 1.0                 11                 0                1.0
1                 0.0                 23                 1                6.0
2                 1.0                 15                 3                5.0
3                 3.0                 11                 3               13.0
4                 4.0                 12                 2                9.0

   TrainingTimesLastYear  ...  JobRole_Human Resources  \
0                      6  ...                    False
1                      3  ...                    False
2                      2  ...                    False
3                      5  ...                     True
4                      2  ...                    False

   JobRole_Laboratory Technician  JobRole_Manager  \
0                          False            False
1                          False            False
2                          False            False
3                          False            False
4                          False            False

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                           False                      False
1                           False                      False
2                           False                      False
3                           False                      False
4                           False                      False

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                       False                    False
1                        True                    False
2                       False                     True
3                       False                    False
4                       False                     True

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single
0                         False                   True                 False
1                         False                  False                  True
2                         False                   True                 False
3                         False                   True                 False
4                         False                  False                  True

[5 rows x 41 columns]

4410

In [10]:
# Verificar las columnas disponibles en el DataFrame
print("Columnas del DataFrame:", df.columns)

# Asegurarse de que las columnas estÃ©n disponibles antes de intentar eliminarlas
columns_to_drop = ["JobSatisfaction_Baja", "JobSatisfaction_Media", "Attrition"]

# Filtramos las columnas a eliminar solo si existen en el DataFrame
columns_to_drop = [col for col in columns_to_drop if col in df.columns]

# Eliminar las columnas de 'X' si existen
X = df.drop(columns=columns_to_drop)  # Eliminar las columnas solo si estÃ¡n presentes
y = df["JobSatisfaction"]  # 'JobSatisfaction' como variable objetivo

Columnas del DataFrame: Index(['Age', 'DistanceFromHome', 'Education', 'JobLevel', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance',
       'JobInvolvement', 'PerformanceRating', 'Unnamed: 25', 'Unnamed: 26',
       'Attrition_Yes', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Male', 'JobRole_Human Resources',
       'JobRole_Laboratory Technician', 'JobRole_Manager',
       'JobRole_Manufacturing Director', 'JobRole_Research Director',
       'JobRole_Research Scientist', 'JobRole_Sales Executive',
       'JobRole_Sales Representative', 'MaritalStatus_Married',
       'MaritalStatus_Single'],
      dtype='object')

In [29]:
print("DistribuciÃ³n de las clases en y_train:")
print(y_train.value_counts())

DistribuciÃ³n de las clases en y_train:
JobSatisfaction
Green    3528
Name: count, dtype: int64

In [38]:
# Importamos las librerÃ­as necesarias
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from imblearn.over_sampling import SMOTE  # Importamos SMOTE
from collections import Counter
from sklearn.impute import SimpleImputer

# Leer el DataFrame desde el archivo
file_path = '/content/drive/MyDrive/general_data.xlsx'
df = pd.read_excel(file_path)

# Eliminar las columnas innecesarias ('Unnamed: 25' y 'Unnamed: 26')
df = df.drop(columns=['Unnamed: 25', 'Unnamed: 26'], errors='ignore')

# Realizamos la limpieza de los datos y la conversiÃ³n de variables categÃ³ricas
# Convertimos las variables categÃ³ricas en variables numÃ©ricas (one-hot encoding)
df = pd.get_dummies(df, drop_first=True)

# Aseguramos que 'JobSatisfaction' sea numÃ©rica
df['JobSatisfaction'] = pd.to_numeric(df['JobSatisfaction'], errors='coerce')

# ClasificaciÃ³n en semÃ¡foro para 'JobSatisfaction'
def classify_satisfaction(value):
    if value <= 2:
        return 'Red'
    elif 2> value <= 3:
        return 'Yellow'
    else:
        return 'Green'

df['JobSatisfaction'] = df['JobSatisfaction'].apply(classify_satisfaction)

# Separar las caracterÃ­sticas (X) y la variable objetivo (y)
X = df.drop(columns=["JobSatisfaction"])  # Variables independientes
y = df["JobSatisfaction"]  # Variable dependiente

# Ver la distribuciÃ³n de las clases
print("DistribuciÃ³n de las clases en y:")
print(y.value_counts())

# Dividir los datos en entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

# Rellenar los NaN en X_train y X_test con la mediana de cada columna
imputer = SimpleImputer(strategy='median')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Verificar si aÃºn hay NaN despuÃ©s de la imputaciÃ³n
print(np.any(np.isnan(X_train_imputed)))  # Esto deberÃ­a ser 'False'
print(np.any(np.isnan(X_test_imputed)))   # Esto tambiÃ©n deberÃ­a ser 'False'

# Verificar las columnas
X_train_imputed = pd.DataFrame(X_train_imputed, columns=X_train.columns)
X_test_imputed = pd.DataFrame(X_test_imputed, columns=X_test.columns)

# Aplicar SMOTE en los datos de entrenamiento imputados
smote = SMOTE(random_state=24)
X_train_res, y_train_res = smote.fit_resample(X_train_imputed, y_train)

# Verificar la distribuciÃ³n de clases despuÃ©s de SMOTE
print("DistribuciÃ³n de las clases despuÃ©s de SMOTE:")
print(Counter(y_train_res))

# Crear el modelo de Random Forest
rf = RandomForestClassifier(n_estimators=100, random_state=24)

# Entrenar el modelo con el conjunto balanceado
rf.fit(X_train_res, y_train_res)

# Predecir los resultados en los datos de prueba
y_pred = rf.predict(X_test_imputed)

# Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
print(f'PrecisiÃ³n del modelo: {accuracy:.4f}')

# Imprimir el reporte de clasificaciÃ³n
print("Reporte de clasificaciÃ³n:")
print(classification_report(y_test, y_pred))

# Imprimir la matriz de confusiÃ³n
print("Matriz de confusiÃ³n:")
print(confusion_matrix(y_test, y_pred))

# PredicciÃ³n con entradas del usuario
def predict_satisfaction():
    print("Introduce los valores para las siguientes caracterÃ­sticas:")

    # CaracterÃ­sticas relevantes
    top_5_features = ["MonthlyIncome", "DistanceFromHome", "PercentSalaryHike",
                      "YearsSinceLastPromotion", "TrainingTimesLastYear"]

    input_data = []
    for feature in top_5_features:
        value = float(input(f"{feature}: "))
        input_data.append(value)

    # Convertir los datos a un DataFrame con las mismas columnas que el conjunto de entrenamiento
    input_df = pd.DataFrame([input_data], columns=top_5_features)

    # Asegurarse de que las caracterÃ­sticas de entrada coincidan con las utilizadas para entrenar
    # Asegurar que las columnas faltantes estÃ©n presentes
    missing_cols = set(X_train.columns) - set(input_df.columns)
    for col in missing_cols:
        input_df[col] = 0  # Llenar las columnas faltantes con 0 o cualquier valor que tenga sentido

    # Asegurarse de que las columnas estÃ©n en el mismo orden que en el conjunto de entrenamiento
    input_df = input_df[X_train.columns]

    # Realizar la predicciÃ³n
    prediction = rf.predict(input_df)[0]

    # Mostrar el resultado
    print(f"PredicciÃ³n de satisfacciÃ³n laboral (semÃ¡foro): {prediction}")

# Llamar a la funciÃ³n de predicciÃ³n
predict_satisfaction()

DistribuciÃ³n de las clases en y:
JobSatisfaction
Green    2710
Red      1700
Name: count, dtype: int64
False
False
DistribuciÃ³n de las clases despuÃ©s de SMOTE:
Counter({'Red': 2159, 'Green': 2159})
PrecisiÃ³n del modelo: 0.9728
Reporte de clasificaciÃ³n:
              precision    recall  f1-score   support

       Green       0.97      0.98      0.98       551
         Red       0.97      0.95      0.96       331

    accuracy                           0.97       882
   macro avg       0.97      0.97      0.97       882
weighted avg       0.97      0.97      0.97       882

Matriz de confusiÃ³n:
[[542   9]
 [ 15 316]]
Introduce los valores para las siguientes caracterÃ­sticas:
MonthlyIncome: 40000
DistanceFromHome: 2
PercentSalaryHike: 0
YearsSinceLastPromotion: 6
TrainingTimesLastYear: 0
PredicciÃ³n de satisfacciÃ³n laboral (semÃ¡foro): Green